<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>UFO INVESTIGATIONS</title>
    <link rel="stylesheet" href="/public/assets/css/style.css"> 
  </head>

  <body>
    <section class="intro">UFO INVESTIGATIONS</section>
    <div id="board">  
      <div id="content">
        <p id="title">I think there are aliens in my backyard…</p>
        <p id="subtitle">Good Subtitle Here</p>
        <br>
        <p>I will need some help with the text in here, team.</p>        
      </div>  
    </div>
    <script  src="/public/assets/js/index.js"></script>
  </body>
</html>